.productCard {
    display: flex;
    width: 400px;
    border: solid 1px;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.productCardImage {
    width: 100%;
    height: 300px

}


.productCardContent {
    padding: 5px
}
